> **Data Visualization and Pre-processing**
>
> **Import libraries**
>
> InÂ \[1\]: **import** numpy **as** np  
> **import** pandas **as** pd  
> **import** seaborn **as** sns  
> **import** matplotlib.pyplot **as** plt
>
> **Load dataset**
>
> InÂ \[2\]: **from** google.colab **import** drive  
> drive**.**mount('/content/drive')
>
> Mounted at /content/drive

InÂ \[3\]:

> data **=** pd**.**read_csv('drive/My Drive/Churn_Modelling.csv')
> data**.**head()

Out\[3\]:

<table>
<thead>
<tr class="header">
<th><strong>0</strong></th>
<th><blockquote>
<p><strong>RowNu</strong><br />
<strong>mber</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cus</strong><br />
<strong>tom</strong><br />
<strong>erId</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Su</strong><br />
<strong>rn</strong><br />
<strong>ame</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cre</strong><br />
<strong>ditS</strong><br />
<strong>core</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Geo gra</strong><br />
<strong>phy</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>G</strong><br />
<strong>en der</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>A</strong><br />
<strong>g</strong><br />
<strong>e</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Te nu re</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Bal ance</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Num</strong><br />
<strong>OfPr oducts</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Has</strong><br />
<strong>CrC ard</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>IsActi veMe mber</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Estim atedS alary</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>E</strong><br />
<strong>xi te d</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td>1</td>
<td><blockquote>
<p>156 346 02</p>
</blockquote></td>
<td><blockquote>
<p>Ha<br />
rgr<br />
ave</p>
</blockquote></td>
<td>619</td>
<td><blockquote>
<p>Fra<br />
nce</p>
</blockquote></td>
<td><blockquote>
<p>Fe<br />
m<br />
ale</p>
</blockquote></td>
<td><blockquote>
<p>4<br />
2</p>
</blockquote></td>
<td>2</td>
<td><blockquote>
<p>0.0<br />
0</p>
</blockquote></td>
<td>1</td>
<td>1</td>
<td>1</td>
<td><blockquote>
<p>10134 8.88</p>
</blockquote></td>
<td>1</td>
</tr>
<tr class="even">
<td><strong>1</strong></td>
<td>2</td>
<td><blockquote>
<p>156 473 11</p>
</blockquote></td>
<td><blockquote>
<p>Hil<br />
l</p>
</blockquote></td>
<td><blockquote>
<p>608 Spain</p>
</blockquote></td>
<td><blockquote>
<p>Fe<br />
m<br />
ale</p>
</blockquote></td>
<td><blockquote>
<p>4<br />
1</p>
</blockquote></td>
<td>1</td>
<td><blockquote>
<p>838 07.<br />
86</p>
</blockquote></td>
<td>1</td>
<td>0</td>
<td>1</td>
<td><blockquote>
<p>11254 2.58</p>
</blockquote></td>
<td>0</td>
<td></td>
</tr>
<tr class="odd">
<td><strong>2</strong></td>
<td>3</td>
<td><blockquote>
<p>156 193 04</p>
</blockquote></td>
<td><blockquote>
<p>On<br />
io</p>
</blockquote></td>
<td>502</td>
<td><blockquote>
<p>Fra<br />
nce</p>
</blockquote></td>
<td><blockquote>
<p>Fe<br />
m<br />
ale</p>
</blockquote></td>
<td><blockquote>
<p>4<br />
2</p>
</blockquote></td>
<td>8</td>
<td><blockquote>
<p>159 660 .80</p>
</blockquote></td>
<td>3</td>
<td>1</td>
<td>0</td>
<td><blockquote>
<p>11393 1.57</p>
</blockquote></td>
<td>1</td>
</tr>
<tr class="even">
<td><strong>3</strong></td>
<td>4</td>
<td><blockquote>
<p>157 013</p>
</blockquote></td>
<td><blockquote>
<p>Bo<br />
ni</p>
</blockquote></td>
<td>699</td>
<td><blockquote>
<p>Fra<br />
nce</p>
</blockquote></td>
<td><blockquote>
<p>Fe<br />
m</p>
</blockquote></td>
<td><blockquote>
<p>3<br />
9</p>
</blockquote></td>
<td>1</td>
<td><blockquote>
<p>0.0<br />
0</p>
</blockquote></td>
<td>2</td>
<td>0</td>
<td>0</td>
<td><blockquote>
<p>93826 .63</p>
</blockquote></td>
<td>0</td>
</tr>
</tbody>
</table>

<table>
<thead>
<tr class="header">
<th><strong>4</strong></th>
<th><blockquote>
<p><strong>RowNu</strong><br />
<strong>mber</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cus</strong><br />
<strong>tom</strong><br />
<strong>erId</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Su</strong><br />
<strong>rn</strong><br />
<strong>ame</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cre</strong><br />
<strong>ditS</strong><br />
<strong>core</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Geo gra</strong><br />
<strong>phy</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>G</strong><br />
<strong>en der</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>A</strong><br />
<strong>g</strong><br />
<strong>e</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Te nu re</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Bal ance</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Num</strong><br />
<strong>OfPr oducts</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Has</strong><br />
<strong>CrC ard</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>IsActi veMe mber</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Estim atedS alary</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>E</strong><br />
<strong>xi te d</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td>5</td>
<td>54</td>
<td><blockquote>
<p>Mit chell</p>
</blockquote></td>
<td><blockquote>
<p>850 Spain</p>
</blockquote></td>
<td>ale</td>
<td><blockquote>
<p>4<br />
3</p>
</blockquote></td>
<td>2</td>
<td><blockquote>
<p>125 510 .82</p>
</blockquote></td>
<td>1</td>
<td>1</td>
<td>1</td>
<td><blockquote>
<p>79084 .10</p>
</blockquote></td>
<td>0</td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td></td>
<td><blockquote>
<p>157 378 88</p>
</blockquote></td>
<td></td>
<td></td>
<td><blockquote>
<p>Fe<br />
m<br />
ale</p>
</blockquote></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

InÂ \[4\]:

> data**.**info()
>
> \<class 'pandas.core.frame.DataFrame'\>  
> RangeIndex: 10000 entries, 0 to 9999  
> Data columns (total 14 columns):  
> \# Column Non-Null Count Dtype --- ------ -------------- ----- 0
> RowNumber 10000 non-null int64 1 CustomerId 10000 non-null int64 2
> Surname 10000 non-null object 3 CreditScore 10000 non-null int64 4
> Geography 10000 non-null object 5 Gender 10000 non-null object 6 Age
> 10000 non-null int64 7 Tenure 10000 non-null int64 8 Balance 10000
> non-null float64 9 NumOfProducts 10000 non-null int64 10 HasCrCard
> 10000 non-null int64 11 IsActiveMember 10000 non-null int64 12
> EstimatedSalary 10000 non-null float64 13 Exited 10000 non-null int64
> dtypes: float64(2), int64(9), object(3)  
> memory usage: 1.1+ MB
>
> **Visualisations**
>
> **1. Univariate Analysis**

InÂ \[5\]:

> data\['Gender'\]**.**value_counts()

Out\[5\]:

> Male 5457  
> Female 4543
>
> Name: Gender, dtype: int64

InÂ \[7\]:

> *\# Plotting the features of the dataset to see the correlation
> between them*  
> plt**.**hist(x **=** data**.**Gender, bins **=** 3, color **=**
> 'pink')  
> plt**.**title('comparison of male and female')  
> plt**.**xlabel('Gender')  
> plt**.**ylabel('population')  
> plt**.**show()

InÂ \[6\]:

> data\['Age'\]**.**value_counts()

Out\[6\]:

> 37 478  
> 38 477  
> 35 474  
> 36 456  
> 34 447  
> ...
>
> 92 2  
> 82 1  
> 88 1  
> 85 1  
> 83 1  
> Name: Age, Length: 70, dtype: int64  
> InÂ \[8\]: *\# comparison of age in the dataset*  
> plt**.**hist(x **=** data**.**Age, bins **=** 10, color **=**
> 'orange')  
> plt**.**title('comparison of Age')  
> plt**.**xlabel('Age')  
> plt**.**ylabel('population')  
> plt**.**show()

InÂ \[9\]:

> data\['Geography'\]**.**value_counts()
>
> Out\[9\]: France 5014  
> Germany 2509  
> Spain 2477  
> Name: Geography, dtype: int64

InÂ \[10\]:

> *\# comparison of geography*
>
> plt**.**hist(x **=** data**.**Geography, bins **=** 5, color **=**
> 'green') plt**.**title('comparison of Geography')  
> plt**.**xlabel('Geography')  
> plt**.**ylabel('population')  
> plt**.**show()

InÂ \[11\]:

> data\['HasCrCard'\]**.**value_counts()
>
> Out\[11\]: 1 7055  
> 0 2945  
> Name: HasCrCard, dtype: int64

InÂ \[12\]:

> *\# comparision of how many customers hold the credit card*
> plt**.**hist(x **=** data**.**HasCrCard, bins **=** 3, color **=**
> 'red')  
> plt**.**title('how many people have or not have the credit card')
> plt**.**xlabel('customers holding credit card')  
> plt**.**ylabel('population')  
> plt**.**show()

InÂ \[13\]:

> data\['IsActiveMember'\]**.**value_counts()

Out\[13\]:

> 1 5151  
> 0 4849  
> Name: IsActiveMember, dtype: int64  
> InÂ \[14\]:
>
> *\# How many active member does the bank have ?*
>
> plt**.**hist(x **=** data**.**IsActiveMember, bins **=** 3, color
> **=** 'brown') plt**.**title('Active Members')  
> plt**.**xlabel('Customers')  
> plt**.**ylabel('population')  
> plt**.**show()
>
> **2. Bi - Variate Analysis**

InÂ \[15\]:

> *\# comparison between Geography and Gender*  
> Gender **=** pd**.**crosstab(data\['Gender'\],data\['Geography'\])
>
> Gender**.**div(Gender**.**sum(1)**.**astype(float),
> axis**=**0)**.**plot(kind**=**"bar", stacked**=True**, figsize**=**(6,
> 6))

Out\[15\]:

> \<matplotlib.axes.\_subplots.AxesSubplot at 0x7f6a93dbbfd0\>

InÂ \[16\]:

> *\# comparison between geography and card holders*  
> HasCrCard **=** pd**.**crosstab(data\['HasCrCard'\],
> data\['Geography'\])
> HasCrCard**.**div(HasCrCard**.**sum(1)**.**astype(float), axis **=**  
> 0)**.**plot(kind **=** 'bar',  
> stacked **=**  
> **True**,figsize **=** (6, 6))

Out\[16\]:

> \<matplotlib.axes.\_subplots.AxesSubplot at 0x7f6a93ced590\>

InÂ \[17\]:

> *\# comparison of active member in differnt geographies*  
> IsActiveMember **=** pd**.**crosstab(data\['IsActiveMember'\],  
> data\['Geography'\])  
> IsActiveMember**.**div(IsActiveMember**.**sum(1)**.**astype(float),
> axis **=** 0)**.**plot(kind **=** 'bar',  
> stacked **=True**, figsize**=** (6, 6))

Out\[17\]:

> \<matplotlib.axes.\_subplots.AxesSubplot at 0x7f6a93c7c950\>

InÂ \[18\]:

> *\# comparing ages in different geographies*  
> Age **=** pd**.**crosstab(data\['Age'\], data\['Geography'\])  
> Age**.**div(Age**.**sum(1)**.**astype(float), axis **=**
> 0)**.**plot(kind **=** 'bar', stacked **=True**, figsize **=**
> (15,15))

Out\[18\]:

> \<matplotlib.axes.\_subplots.AxesSubplot at 0x7f6a93bfea10\>

InÂ \[19\]:

> *\# calculating total balance in france, germany and spain*  
> total_france **=** data**.**Balance\[data**.**Geography **==**
> 'France'\]**.**sum() total_germany **=**
> data**.**Balance\[data**.**Geography **==** 'Germany'\]**.**sum()
> total_spain **=** data**.**Balance\[data**.**Geography **==**
> 'Spain'\]**.**sum()
>
> print("Total Balance in France :",total_france) print("Total Balance
> in Germany :",total_germany) print("Total Balance in Spain
> :",total_spain)
>
> Total Balance in France : 311332479.49  
> Total Balance in Germany : 300402861.38  
> Total Balance in Spain : 153123552.01  
> InÂ \[20\]: *\# plotting a pie chart*  
> labels **=** 'France', 'Germany', 'Spain'  
> colors **=** \['cyan', 'magenta', 'orange'\]  
> sizes **=** \[311, 300, 153\]  
> explode **=** \[ 0.01, 0.01, 0.01\]  
> plt**.**pie(sizes, colors **=** colors, labels **=** labels, explode
> **=**  
> explode, shadow **=True**)  
> plt**.**axis('equal')  
> plt**.**show()
>
> **3. Multi - Variate Analysis**

InÂ \[21\]:

> sns**.**pairplot(data**=**data, hue**=**'Exited')

Out\[21\]:

> \<seaborn.axisgrid.PairGrid at 0x7f6a93ddd510\>
>
> **Descriptive statistics**

InÂ \[23\]:

> *\#Statistical analysis*  
> data**.**describe()

Out\[23\]:

<table>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>co u</strong><br />
<strong>nt</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Row Number</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cust omerId</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cred itScore</strong></p>
</blockquote></th>
<th><strong>Age</strong></th>
<th><blockquote>
<p><strong>Tenu</strong><br />
<strong>re</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Balan</strong> <strong>ce</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Num</strong><br />
<strong>OfPro ducts</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Has</strong><br />
<strong>CrC ard</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>IsActi veMe mber</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Estim atedS alary</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Exite</strong><br />
<strong>d</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td><blockquote>
<p>1000 0.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>1.000 000e<br />
+04</p>
</blockquote></td>
<td><blockquote>
<p>1000 0.000000</p>
</blockquote></td>
<td><blockquote>
<p>1000 0.000000</p>
</blockquote></td>
<td><blockquote>
<p>1000 0.000000</p>
</blockquote></td>
<td><blockquote>
<p>10000 .000000</p>
</blockquote></td>
<td><blockquote>
<p>10000. 000000</p>
</blockquote></td>
<td><blockquote>
<p>1000 0.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>10000. 000000</p>
</blockquote></td>
<td><blockquote>
<p>10000. 000000</p>
</blockquote></td>
<td><blockquote>
<p>1000 0.000000</p>
</blockquote></td>
</tr>
</tbody>
</table>

<table>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>m ea n</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Row Number</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cust omerId</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cred itScore</strong></p>
</blockquote></th>
<th><strong>Age</strong></th>
<th><blockquote>
<p><strong>Tenu</strong><br />
<strong>re</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Balan</strong> <strong>ce</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Num</strong><br />
<strong>OfPro ducts</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Has</strong><br />
<strong>CrC ard</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>IsActi veMe mber</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Estim atedS alary</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Exite</strong><br />
<strong>d</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td><blockquote>
<p>5000 .500<br />
00</p>
</blockquote></td>
<td><blockquote>
<p>1.569 094e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>650.5 28800</p>
</blockquote></td>
<td><blockquote>
<p>38.92 1800</p>
</blockquote></td>
<td><blockquote>
<p>5.012 800</p>
</blockquote></td>
<td><blockquote>
<p>76485 .889288</p>
</blockquote></td>
<td><blockquote>
<p>1.5302 00</p>
</blockquote></td>
<td><blockquote>
<p>0.70<br />
550</p>
</blockquote></td>
<td><blockquote>
<p>0.5151 00</p>
</blockquote></td>
<td><blockquote>
<p>10009 0.239881</p>
</blockquote></td>
<td><blockquote>
<p>0.203 700</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p><strong>st</strong><br />
<strong>d</strong></p>
</blockquote></td>
<td><blockquote>
<p>2886 .895<br />
68</p>
</blockquote></td>
<td><blockquote>
<p>7.193 619e<br />
+04</p>
</blockquote></td>
<td><blockquote>
<p>96.65 3299</p>
</blockquote></td>
<td><blockquote>
<p>10.48 7806</p>
</blockquote></td>
<td><blockquote>
<p>2.892 174</p>
</blockquote></td>
<td><blockquote>
<p>62397 .405202</p>
</blockquote></td>
<td><blockquote>
<p>0.5816 54</p>
</blockquote></td>
<td><blockquote>
<p>0.45<br />
584</p>
</blockquote></td>
<td><blockquote>
<p>0.4997 97</p>
</blockquote></td>
<td><blockquote>
<p>57510. 492818</p>
</blockquote></td>
<td><blockquote>
<p>0.402 769</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p><strong>m</strong><br />
<strong>in</strong></p>
</blockquote></td>
<td><blockquote>
<p>1.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>1.556 570e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>350.0 00000</p>
</blockquote></td>
<td><blockquote>
<p>18.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>0.000 000</p>
</blockquote></td>
<td><blockquote>
<p>0.000 000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>0.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>0.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>11.580 000</p>
</blockquote></td>
<td><blockquote>
<p>0.000 000</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p><strong>2</strong><br />
<strong>5</strong><br />
<strong>%</strong></p>
</blockquote></td>
<td><blockquote>
<p>2500 .750<br />
00</p>
</blockquote></td>
<td><blockquote>
<p>1.562 853e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>584.0 00000</p>
</blockquote></td>
<td><blockquote>
<p>32.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>3.000 000</p>
</blockquote></td>
<td><blockquote>
<p>0.000 000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>0.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>0.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>51002. 110000</p>
</blockquote></td>
<td><blockquote>
<p>0.000 000</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p><strong>5</strong><br />
<strong>0</strong><br />
<strong>%</strong></p>
</blockquote></td>
<td><blockquote>
<p>5000 .500<br />
00</p>
</blockquote></td>
<td><blockquote>
<p>1.569 074e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>652.0 00000</p>
</blockquote></td>
<td><blockquote>
<p>37.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>5.000 000</p>
</blockquote></td>
<td><blockquote>
<p>97198 .540000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>1.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>10019 3.915000</p>
</blockquote></td>
<td><blockquote>
<p>0.000 000</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p><strong>7</strong><br />
<strong>5</strong><br />
<strong>%</strong></p>
</blockquote></td>
<td><blockquote>
<p>7500 .250<br />
00</p>
</blockquote></td>
<td><blockquote>
<p>1.575 323e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>718.0 00000</p>
</blockquote></td>
<td><blockquote>
<p>44.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>7.000 000</p>
</blockquote></td>
<td><blockquote>
<p>12764 4.240000</p>
</blockquote></td>
<td><blockquote>
<p>2.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>1.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>14938 8.247500</p>
</blockquote></td>
<td><blockquote>
<p>0.000 000</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p><strong>m</strong><br />
<strong>a</strong><br />
<strong>x</strong></p>
</blockquote></td>
<td><blockquote>
<p>1000 0.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>1.581 569e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>850.0 00000</p>
</blockquote></td>
<td><blockquote>
<p>92.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>10.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>25089 8.090000</p>
</blockquote></td>
<td><blockquote>
<p>4.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>1.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>19999 2.480000</p>
</blockquote></td>
<td><blockquote>
<p>1.000 000</p>
</blockquote></td>
</tr>
</tbody>
</table>

> **Handle the Missing values**
>
> InÂ \[24\]: *\#Missing Values*  
> data**.**isnull()**.**sum()

Out\[24\]:

> RowNumber 0
>
> CustomerId 0  
> Surname 0  
> CreditScore 0  
> Geography 0  
> Gender 0  
> Age 0  
> Tenure 0  
> Balance 0  
> NumOfProducts 0  
> HasCrCard 0  
> IsActiveMember 0  
> EstimatedSalary 0  
> Exited 0  
> dtype: int64  
> No missing values are found.
>
> **Find the outliers and replace the outliers**

InÂ \[25\]:

> sns**.**boxplot(data **=** data, x **=** 'CreditScore')

Out\[25\]:

> \<matplotlib.axes.\_subplots.AxesSubplot at 0x7f6a8ecfe7d0\>

InÂ \[26\]:

> sns**.**boxplot(data **=** data, x **=** 'Age')

Out\[26\]:

> \<matplotlib.axes.\_subplots.AxesSubplot at 0x7f6a8e9a3f50\>

InÂ \[27\]:

> sns**.**boxplot(data **=** data, x **=** 'Balance')

Out\[27\]:

> \<matplotlib.axes.\_subplots.AxesSubplot at 0x7f6a8d0e0e90\>

InÂ \[28\]:

> sns**.**boxplot(data **=** data, x **=** 'EstimatedSalary')

Out\[28\]:

> \<matplotlib.axes.\_subplots.AxesSubplot at 0x7f6a8d0e0c50\>
>
> InÂ \[29\]: **for** i **in** data:  
> **if** data\[i\]**.**dtype**==**'int64' **or**
> data\[i\]**.**dtypes**==**'float64':
> q1**=**data\[i\]**.**quantile(0.25)  
> q3**=**data\[i\]**.**quantile(0.75)
>
> iqr**=**q3**-**q1  
> upper**=**q3**+**1.5**\***iqr  
> lower**=**q1**-**1.5**\***iqr  
> data\[i\]**=**np**.**where(data\[i\] **\>**upper, upper, data\[i\])
> data\[i\]**=**np**.**where(data\[i\] **\<**lower, lower, data\[i\])

InÂ \[30\]:

> data**.**describe()

Out\[30\]:

<table>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>co u</strong><br />
<strong>nt</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Row Number</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cust omerId</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cred itScore</strong></p>
</blockquote></th>
<th><strong>Age</strong></th>
<th><blockquote>
<p><strong>Tenu</strong><br />
<strong>re</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Balan</strong> <strong>ce</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>NumO fProd</strong><br />
<strong>ucts</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Has</strong><br />
<strong>CrC ard</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>IsActi veMe mber</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Estim</strong><br />
<strong>atedSalary</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Ex ite d</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td><blockquote>
<p>1000 0.00000</p>
</blockquote></td>
<td><blockquote>
<p>1.000 000e<br />
+04</p>
</blockquote></td>
<td><blockquote>
<p>1000 0.000000</p>
</blockquote></td>
<td><blockquote>
<p>1000 0.000000</p>
</blockquote></td>
<td><blockquote>
<p>1000 0.000000</p>
</blockquote></td>
<td><blockquote>
<p>10000 .000000</p>
</blockquote></td>
<td><blockquote>
<p>10000. 000000</p>
</blockquote></td>
<td><blockquote>
<p>1000 0.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>10000. 000000</p>
</blockquote></td>
<td><blockquote>
<p>10000. 000000</p>
</blockquote></td>
<td><blockquote>
<p>10<br />
00<br />
0.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p><strong>m ea n</strong></p>
</blockquote></td>
<td><blockquote>
<p>5000. 50000</p>
</blockquote></td>
<td><blockquote>
<p>1.569 094e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>650.5 61300</p>
</blockquote></td>
<td><blockquote>
<p>38.66 0800</p>
</blockquote></td>
<td><blockquote>
<p>5.012 800</p>
</blockquote></td>
<td><blockquote>
<p>76485 .889288</p>
</blockquote></td>
<td><blockquote>
<p>1.5272 00</p>
</blockquote></td>
<td><blockquote>
<p>0.70<br />
550</p>
</blockquote></td>
<td><blockquote>
<p>0.5151 00</p>
</blockquote></td>
<td><blockquote>
<p>10009 0.239881</p>
</blockquote></td>
<td><blockquote>
<p>0.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p><strong>st</strong><br />
<strong>d</strong></p>
</blockquote></td>
<td><blockquote>
<p>2886. 89568</p>
</blockquote></td>
<td><blockquote>
<p>7.193 619e<br />
+04</p>
</blockquote></td>
<td><blockquote>
<p>96.55 8702</p>
</blockquote></td>
<td><blockquote>
<p>9.746 704</p>
</blockquote></td>
<td><blockquote>
<p>2.892 174</p>
</blockquote></td>
<td><blockquote>
<p>62397 .405202</p>
</blockquote></td>
<td><blockquote>
<p>0.5700 81</p>
</blockquote></td>
<td><blockquote>
<p>0.45<br />
584</p>
</blockquote></td>
<td><blockquote>
<p>0.4997 97</p>
</blockquote></td>
<td><blockquote>
<p>57510. 492818</p>
</blockquote></td>
<td><blockquote>
<p>0.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p><strong>m</strong><br />
<strong>in</strong></p>
</blockquote></td>
<td><blockquote>
<p>1.000 00</p>
</blockquote></td>
<td><blockquote>
<p>1.556 570e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>383.0 00000</p>
</blockquote></td>
<td><blockquote>
<p>18.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>0.000 000</p>
</blockquote></td>
<td><blockquote>
<p>0.000 000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>0.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>0.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>11.580 000</p>
</blockquote></td>
<td><blockquote>
<p>0.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p><strong>2</strong><br />
<strong>5</strong><br />
<strong>%</strong></p>
</blockquote></td>
<td><blockquote>
<p>2500. 75000</p>
</blockquote></td>
<td><blockquote>
<p>1.562 853e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>584.0 00000</p>
</blockquote></td>
<td><blockquote>
<p>32.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>3.000 000</p>
</blockquote></td>
<td><blockquote>
<p>0.000 000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>0.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>0.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>51002. 110000</p>
</blockquote></td>
<td><blockquote>
<p>0.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p><strong>5</strong><br />
<strong>0</strong><br />
<strong>%</strong></p>
</blockquote></td>
<td><blockquote>
<p>5000. 50000</p>
</blockquote></td>
<td><blockquote>
<p>1.569 074e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>652.0 00000</p>
</blockquote></td>
<td><blockquote>
<p>37.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>5.000 000</p>
</blockquote></td>
<td><blockquote>
<p>97198 .540000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>1.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>10019 3.915000</p>
</blockquote></td>
<td><blockquote>
<p>0.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p><strong>7</strong><br />
<strong>5</strong><br />
<strong>%</strong></p>
</blockquote></td>
<td><blockquote>
<p>7500. 25000</p>
</blockquote></td>
<td><blockquote>
<p>1.575 323e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>718.0 00000</p>
</blockquote></td>
<td><blockquote>
<p>44.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>7.000 000</p>
</blockquote></td>
<td><blockquote>
<p>12764 4.240000</p>
</blockquote></td>
<td><blockquote>
<p>2.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>1.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>14938 8.247500</p>
</blockquote></td>
<td><blockquote>
<p>0.0</p>
</blockquote></td>
</tr>
</tbody>
</table>

<table>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>m</strong><br />
<strong>a</strong><br />
<strong>x</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Row Number</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cust omerId</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Cred itScore</strong></p>
</blockquote></th>
<th><strong>Age</strong></th>
<th><blockquote>
<p><strong>Tenu</strong><br />
<strong>re</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Balan</strong> <strong>ce</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>NumO fProd</strong><br />
<strong>ucts</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Has</strong><br />
<strong>CrC ard</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>IsActi veMe mber</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Estim</strong><br />
<strong>atedSalary</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Ex ite d</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td><blockquote>
<p>1000 0.00000</p>
</blockquote></td>
<td><blockquote>
<p>1.581 569e<br />
+07</p>
</blockquote></td>
<td><blockquote>
<p>850.0 00000</p>
</blockquote></td>
<td><blockquote>
<p>62.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>10.00 0000</p>
</blockquote></td>
<td><blockquote>
<p>25089 8.090000</p>
</blockquote></td>
<td><blockquote>
<p>3.5000 00</p>
</blockquote></td>
<td><blockquote>
<p>1.00<br />
000</p>
</blockquote></td>
<td><blockquote>
<p>1.0000 00</p>
</blockquote></td>
<td><blockquote>
<p>19999 2.480000</p>
</blockquote></td>
<td><blockquote>
<p>0.0</p>
</blockquote></td>
</tr>
</tbody>
</table>

> **Preprocessing**

InÂ \[31\]:

> *\# Removing the unnecassary features from the dataset*  
> data **=** data**.**drop(\['CustomerId', 'Surname', 'RowNumber'\],
> axis **=** 1)  
> print(data**.**columns)
>
> Index(\['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure',
> 'Balance',  
> 'NumOfProducts', 'HasCrCard', 'IsActiveMember',  
> 'EstimatedSalary',  
> 'Exited'\],  
> dtype='object')  
> InÂ \[32\]: data**.**shape

Out\[32\]:

> (10000, 11)
>
> **Split the data into dependent and independent variables**

InÂ \[33\]:

> *\# splitting the dataset into x(independent variables) and
> y(dependent variables)*  
> x **=** data**.**iloc\[:,0:10\]  
> y **=** data**.**iloc\[:,10\]  
> print(x**.**shape)  
> print(y**.**shape)  
> print(x**.**columns)
>
> (10000, 10)  
> (10000,)
>
> Index(\['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure',
> 'Balance',  
> 'NumOfProducts', 'HasCrCard', 'IsActiveMember',  
> 'EstimatedSalary'\],  
> dtype='object')
>
> **Check for Categorical columns and perform encoding**

InÂ \[34\]:

> *\# Encoding Categorical variables into numerical variables \# One Hot
> Encoding*  
> x **=** pd**.**get_dummies(x)  
> x**.**head()

Out\[34\]:

<table>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>Cre dit</strong><br />
<strong>Score</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>A</strong><br />
<strong>g</strong><br />
<strong>e</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>T</strong><br />
<strong>en ure</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Ba</strong><br />
<strong>lan ce</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Num OfPr oducts</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Ha</strong><br />
<strong>sCr Ca</strong><br />
<strong>rd</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>IsAct iveM ember</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Esti</strong><br />
<strong>mate dSal ary</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Geogr aphy_ France</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Geogr</strong><br />
<strong>aphy_</strong><br />
<strong>Germany</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Geog raph y_Spain</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Gen der_ Female</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Gen der</strong><br />
<strong>_M</strong><br />
<strong>ale</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>0</strong> 619.0</td>
<td><blockquote>
<p>4<br />
2<br />
.</p>
</blockquote>
<p>0</p></td>
<td><blockquote>
<p>2.<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>0.0<br />
0</p>
</blockquote></td>
<td>1.0</td>
<td>1.0</td>
<td>1.0</td>
<td><blockquote>
<p>1013<br />
48.88</p>
</blockquote></td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
</tr>
<tr class="even">
<td><strong>1</strong> 608.0</td>
<td><blockquote>
<p>4<br />
1<br />
.</p>
</blockquote>
<p>0</p></td>
<td><blockquote>
<p>1.<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>83<br />
80<br />
7.86</p>
</blockquote></td>
<td>1.0</td>
<td>0.0</td>
<td>1.0</td>
<td><blockquote>
<p>1125<br />
42.58</p>
</blockquote></td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>0</td>
</tr>
<tr class="odd">
<td><strong>2</strong> 502.0</td>
<td><blockquote>
<p>4<br />
2<br />
.</p>
</blockquote>
<p>0</p></td>
<td><blockquote>
<p>8.<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>15<br />
96<br />
60. 80</p>
</blockquote></td>
<td>3.0</td>
<td>1.0</td>
<td>0.0</td>
<td><blockquote>
<p>1139<br />
31.57</p>
</blockquote></td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
</tr>
<tr class="even">
<td><strong>3</strong> 699.0</td>
<td><blockquote>
<p>3<br />
9<br />
.</p>
</blockquote>
<p>0</p></td>
<td><blockquote>
<p>1.<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>0.0<br />
0</p>
</blockquote></td>
<td>2.0</td>
<td>0.0</td>
<td>0.0</td>
<td><blockquote>
<p>9382<br />
6.63</p>
</blockquote></td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
</tr>
</tbody>
</table>

<table>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>Cre dit</strong><br />
<strong>Score</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>A</strong><br />
<strong>g</strong><br />
<strong>e</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>T</strong><br />
<strong>en ure</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Ba</strong><br />
<strong>lan ce</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Num OfPr oducts</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Ha</strong><br />
<strong>sCr Ca</strong><br />
<strong>rd</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>IsAct iveM ember</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Esti</strong><br />
<strong>mate dSal ary</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Geogr aphy_ France</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Geogr</strong><br />
<strong>aphy_</strong><br />
<strong>Germany</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Geog raph y_Spain</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Gen der_ Female</strong></p>
</blockquote></th>
<th><blockquote>
<p><strong>Gen der</strong><br />
<strong>_M</strong><br />
<strong>ale</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>4</strong> 850.0</td>
<td><blockquote>
<p>4<br />
3<br />
.</p>
</blockquote>
<p>0</p></td>
<td><blockquote>
<p>2.<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>12<br />
55<br />
10. 82</p>
</blockquote></td>
<td>1.0</td>
<td>1.0</td>
<td>1.0</td>
<td><blockquote>
<p>7908<br />
4.10</p>
</blockquote></td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>0</td>
</tr>
</tbody>
</table>

> **Split the data into training and testing**

InÂ \[35\]:

> *\# splitting the data into training and testing set*  
> **from** sklearn.model_selection **import** train_test_split x_train,
> x_test, y_train, y_test **=** train_test_split(x, y, test_size **=**
> 0.25, random_state **=** 0)  
> print(x_train**.**shape)  
> print(y_train**.**shape)  
> print(x_test**.**shape)  
> print(y_test**.**shape)
>
> (7500, 13)  
> (7500,)  
> (2500, 13)  
> (2500,)
>
> **Scale the independent variables**

InÂ \[36\]:

> *\# Feature Scaling*  
> *\# Only on Independent Variable to convert them into values ranging
> from -1 to +1*  
> **from** sklearn.preprocessing **import** StandardScaler  
> sc **=** StandardScaler()  
> x_train **=** sc**.**fit_transform(x_train)  
> x_test **=** sc**.**fit_transform(x_test)  
> x_train **=** pd**.**DataFrame(x_train)  
> x_train**.**head()

Out\[36\]:

<table>
<thead>
<tr class="header">
<th><strong>0</strong></th>
<th><strong>0</strong></th>
<th><strong>1</strong></th>
<th><strong>2</strong></th>
<th><strong>3</strong></th>
<th><strong>4</strong></th>
<th><strong>5</strong></th>
<th><strong>6</strong></th>
<th><strong>7</strong></th>
<th><strong>8</strong></th>
<th><strong>9</strong></th>
<th><strong>10</strong></th>
<th><strong>11</strong></th>
<th><strong>12</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td><blockquote>
<p>-<br />
0.73 682<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>0.04 228<br />
3</p>
</blockquote></td>
<td><blockquote>
<p>0.00 886<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>0.67 316<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>2.58 323<br />
1</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.55 362<br />
4</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.03 446<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.64 081<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.01 558<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>1.76 021<br />
6</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.57 468<br />
2</p>
</blockquote></td>
<td><blockquote>
<p>1.08 726<br />
1</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.08 726<br />
1</p>
</blockquote></td>
</tr>
<tr class="even">
<td><strong>1</strong></td>
<td><blockquote>
<p>1.02 525<br />
7</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.67 449<br />
6</p>
</blockquote></td>
<td><blockquote>
<p>0.00 886<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.20 772<br />
4</p>
</blockquote></td>
<td><blockquote>
<p>0.82 257<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>0.64 365<br />
7</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.03 446<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.07 927<br />
2</p>
</blockquote></td>
<td><blockquote>
<p>0.98 465<br />
1</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.56 811<br />
2</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.57 468<br />
2</p>
</blockquote></td>
<td><blockquote>
<p>1.08 726<br />
1</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.08 726<br />
1</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><strong>2</strong></td>
<td><blockquote>
<p>0.80 886<br />
1</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.46 970<br />
2</p>
</blockquote></td>
<td><blockquote>
<p>1.39 329<br />
3</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.35 693<br />
7</p>
</blockquote></td>
<td><blockquote>
<p>0.82 257<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>0.64 365<br />
7</p>
</blockquote></td>
<td><blockquote>
<p>0.96 668<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.99 684<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.01 558<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.56 811<br />
2</p>
</blockquote></td>
<td><blockquote>
<p>1.74 009<br />
4</p>
</blockquote></td>
<td><blockquote>
<p>1.08 726<br />
1</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.08 726<br />
1</p>
</blockquote></td>
</tr>
<tr class="even">
<td><strong>3</strong></td>
<td><blockquote>
<p>0.39 667<br />
7</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.06 011<br />
4</p>
</blockquote></td>
<td><blockquote>
<p>0.00 886<br />
0</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.00 935<br />
6</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.93 807<br />
6</p>
</blockquote></td>
<td><blockquote>
<p>0.64 365<br />
7</p>
</blockquote></td>
<td><blockquote>
<p>0.96 668<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.59 174<br />
6</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.01 558<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.56 811<br />
2</p>
</blockquote></td>
<td><blockquote>
<p>1.74 009<br />
4</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.91 974<br />
3</p>
</blockquote></td>
<td><blockquote>
<p>0.91 974<br />
3</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><strong>4</strong></td>
<td><blockquote>
<p>-<br />
0.46 890<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>1.37 344<br />
4</p>
</blockquote></td>
<td><blockquote>
<p>0.70 107<br />
7</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
1.20 772<br />
4</p>
</blockquote></td>
<td><blockquote>
<p>0.82 257<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>0.64 365<br />
7</p>
</blockquote></td>
<td><blockquote>
<p>0.96 668<br />
8</p>
</blockquote></td>
<td><blockquote>
<p>1.28 330<br />
2</p>
</blockquote></td>
<td><blockquote>
<p>0.98 465<br />
1</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.56 811<br />
2</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.57 468<br />
2</p>
</blockquote></td>
<td><blockquote>
<p>-<br />
0.91 974<br />
3</p>
</blockquote></td>
<td><blockquote>
<p>0.91 974<br />
3</p>
</blockquote></td>
</tr>
</tbody>
</table>